.infos-bar {
    padding: 16px 24px;
    background-color: #3138386e;
   display: flex;
   justify-content: space-between;
   border: solid 1px #fdffff;
   &__infos {
    display: flex;
    gap: 40px;

    &__item {
        font-size: 14px;
        color: #fff;
        text-align: center;

        b {
            color: #fff;
            font-size: 18px;
            display: block;
        }
    }
   } 

   @media (max-width: 640px) {
    display: block;

    &__infos {
        display: block;

        &__item {
            margin-bottom: 24px ;
           
        }
    }
   }

   @media (max-width: 1024px){
    &__infos {
        gap: 16px;
    }
   }
}